<!--- Home page for HeelMeals
    TODO (for stories 1 & 2): 
    - add profile button
 -->
 <link href="/css/styles.css" rel="stylesheet" type="text/css">
 <a href="/">
    <div class="title">
        <span class="material-symbols-outlined" style="color:white">
            lunch_dining
            </span>
        <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
    </div>
</a>

<div class="profile-actions-container" style="position: absolute; top: 20%; right: 200px;">
    <a href="/profile">
        <button class="profile-button"> 
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <span style="position: relative; top: 12px;left: 4px;">Profile</span>
                <span class="material-symbols-outlined">person</span>
            </div>
        </button>
    </a>
    <a href="/post">
        <button class="profile-button"> 
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <span style="position: relative; top: 12px;left: 4px;">Post Review</span>
                <span class="material-symbols-outlined">rate_review</span>
            </div>
        </button>
    </a>
</div>

<div class="reviews-page-container">
    <div class="review-box">
        <img class="review-image" src="images/cds_waffle.jpg">
        <div class="review-description">
            <h2 style="color: black">Chase has good sushi!</h2>
            <div class="review-rating">
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
                <span class="material-symbols-outlined">star</span>
            </div>
            <h4>I was skeptical at first of eating raw fish at a dining hall -- but it was actually pretty good! It’s no Spicy 9 or Kurama, but I hope sushi becomes a staple at dinner, and maybe even at late night!</h4>
        </div>
    </div>
</div>