<!--- Home page for HeelMeals
    TODO (for stories 1 & 2): 
    - add profile button
 -->
 <link href="/css/styles.css" rel="stylesheet" type="text/css">
 <a href="/">
    <div class="title">
        <span class="material-symbols-outlined" style="color:white">
            lunch_dining
            </span>
        <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
    </div>
</a>

<div style="position: absolute; top: 100px; right: 100px;">
    <a href="/profile">
        <button class="profile-button"> 
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <span style="position: relative; top: 12px;left: 4px;">Profile</span>
                <span class="material-symbols-outlined">person</span>
            </div>
        </button>
    </a>
    <a href="/post">
        <button class="profile-button"> 
            <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                <span style="position: relative; top: 12px;left: 4px;">Post Review</span>
                <span class="material-symbols-outlined">rate_review</span>
            </div>
        </button>
    </a>
</div>