<!--- Entry page for HeelMeals
    DONE: 
    - add login button
    - add sign up button
 -->
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 48;
      font-size: 40px;
    }
    </style>

<div class="title">
    <span class="material-symbols-outlined" style="color:white">
        lunch_dining
        </span>
    <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
</div>

<div style = "justify-content: center; margin: auto">
    <div class="entry-button-space" style="margin-top: 15%">
        <a href="/login">
            <button class="entry-buttons"><h2>Log In</h2></button>
        </a>
        <a href="/signup">
            <button class="entry-buttons"><h2>Sign Up</h2></button>
        </a>
    </div>
</div>

