<!--- Entry page for HeelMeals
    TODO: 
    - add login button
    - add sign up button
 -->
<link href="/css/styles.css" rel="stylesheet" type="text/css">
<h1>HeelMeals</h1>

<div class="entry-button-space">
    <a href="/login">
        <button class="entry-buttons"><h2>Log In</h2></button>
    </a>
    <a href="/signup">
        <button class="entry-buttons"><h2>Sign Up</h2></button>
    </a>
</div>

