<!--- Entry page for HeelMeals
    DONE: 
    - add login button
    - add sign up button
 -->
<link href="/css/styles.css" rel="stylesheet" type="text/css">

<div class="title">
    <span class="material-symbols-outlined" style="color:white">
        lunch_dining
        </span>
    <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
</div>

<div style = "justify-content: center; margin: auto">
    <div class="entry-button-space" style="margin-top: 15%">
        <a href="/login">
            <button class="entry-buttons"><h3>Log In</h3></button>
        </a>
        <a href="/signup">
            <button class="entry-buttons"><h3>Sign Up</h3></button>
        </a>
    </div>
</div>

