<!--- Login page for HeelMeals
    TODO: 
    - add form with the following:
        - username
        - (optionally add) password
 -->
 <link href="/css/styles.css" rel="stylesheet" type="text/css">
 <a href="/">
    <div class="title">
        <span class="material-symbols-outlined" style="color:white">
            lunch_dining
            </span>
        <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
    </div>
</a>

<form action="/login" method="POST">
    <div class="login-box">
      <h2>Welcome Back!</h2>
      <div class="text-input">
        <div style="margin-bottom: -13px;">
          <h4 style="font-weight: 400;"> <span style="color: black">Username</span> (Required)</h4>
        </div>
          <input class="text-input-box" type="text" name="username" placeholder="janedoe09">
      </div>
      <div class="text-input">
        <div style="margin-bottom: -13px;">
          <h4 style="font-weight: 400;"> <span style="color: black">Password</span> (Required)</h4>
        </div>
          <input class="text-input-box" type="text" name="password" placeholder="********">
      </div>
      <button type="submit" class="login-button">Log In</button>
      <h4>Not yet registered? 
        <a href="/signup" style="text-decoration: none;"> <span style="font-weight: 500; color: #994D92;">Create Account</span></a>
      </h4>
    </div>
</form>