<!--- Sign up page for HeelMeals
    TODO: 
    - add form with the following:
        - name
        - username
        - (optional) add password
        - email
 -->
 <link href="/css/styles.css" rel="stylesheet" type="text/css">
 <div class="title">
    <span class="material-symbols-outlined" style="color:white">
        lunch_dining
        </span>
    <h1 style="margin-left: 5px; margin-top: 0px">HeelMeals</h1>
</div>