<!--- Sign up page for HeelMeals
    TODO: 
    - add form with the following:
        - name
        - username
        - (optional) add password
        - email
 -->
 <link href="/css/styles.css" rel="stylesheet" type="text/css">
 <h1>Signup page works!</h1>