h1 {
    color: white;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(75,156,211);
}

body {
    background: rgb(75,156,211);
    background: linear-gradient(135deg, rgba(75,156,211,1) 0%, rgba(94,139,206,1) 20%, rgba(117,120,193,1) 40%, rgba(138,99,173,1) 60%, rgba(153,77,146,1) 80%, rgba(160,53,113,1) 100%);
}

.entry-button-space {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.entry-buttons {
    height: 70px;
    width: 250px;
    border: hidden;
    border-radius: 16px;
    margin-top: 30px;
}

