@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

h1 {
    color: white;
    font-family: Roboto;
    font-weight: 300;
}

h2 {
    font-size: 22px;
    color: #994D92;
    font-family: Roboto;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    color: rgb(75,156,211);
    font-weight: bold;
}

h4 {
    font-size: 15px;
    color: rgb(131, 131, 131);
    font-family: Roboto;
    font-weight: 400;
    line-height: 20px;
}

h5 {
    font-size: 18px;
    color: black;
    font-family: Roboto;
    font-weight: 500;
}

body {
    background: rgb(75,156,211);
    background: linear-gradient(135deg, rgba(75,156,211,1) 0%, rgba(94,139,206,1) 20%, rgba(117,120,193,1) 40%, rgba(138,99,173,1) 60%, rgba(153,77,146,1) 80%, rgba(160,53,113,1) 100%);
}

.title {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40px;
    left: 40px;
}

.entry-button-space {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    justify-content: center;
}

.entry-buttons {
    height: 60px;
    width: 250px;
    border: hidden;
    border-radius: 16px;
    margin-top: 30px;
    transition-duration: .3s;
}

.entry-buttons:hover {
    background-color: rgb(219, 219, 219);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48;
    font-size: 40px;
}

/* Login Page */
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    position: absolute;
    top:0; right: 0; left: 0; bottom: 0;
    width: 425px;
    height: 280px;
    background-color: white;
    border-radius: 16px;
}

.text-input {
    display: flex;
    flex-direction: column;
}

.text-input-box {
    width: 370px;
    height: 30px;
    border: solid;
    border-width: 1.25pt;
    border-radius: 8px;
    border-color: rgb(198, 198, 198);
    align-content: left;
}

.text-input-example-text {
    margin-left: 10px;
    margin-top: -13px;
}

.login-button {
    height: 45px;
    width: 200px;
    margin-top: 30px;
    transition-duration: .3s;
    box-shadow: 0px 3px 4px rgb(167, 167, 167);
    background-color: rgb(75,156,211);
    border: hidden;
    border-radius: 16px;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.login-button:hover {
    background-color: #61afe4;
}

/* Sign Up Page*/
.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    position: absolute;
    top:0; right: 0; left: 0; bottom: 0;
    width: 460px;
    height: 500px;
    background-color: white;
    border-radius: 16px;
}

/*  Home page */
.reviews-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 700px;
    justify-content: center;
    background-color: white;
    border-radius: 16px;
}

.review-box {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 170px;
    width: 670px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.review-box:hover {
    box-shadow: 0px 0px 4px grey;
}

.review-image {
    height: 130px;
    width: 130px;
    border-radius: 6px;
    margin-left: 15px;
}

.review-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    width: 465px;
}

.review-rating {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-bottom: -10px;
}

.checked {
    color: rgb(255, 183, 0);
    font-size: large;
}

.unchecked {
    color: rgb(196, 196, 196)
}

.profile-button {
    height: 45px;
    width: 200px;
    margin-top: 30px;
    transition-duration: .3s;
    box-shadow: 0px 3px 4px #7a437d;
    background-color: rgb(255, 255, 255);
    border: hidden;
    border-radius: 16px;
    justify-content: space-evenly;
    color: rgb(75,156,211);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
}

.profile-button:hover {
    background-color: #e7e7e7;
}

/*  Account Details page */


/* Profile Page */
.profile-container {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: auto;
    margin: auto;
    justify-content: space-around;
    position: absolute;
    top: 20%;
    left: 17%;
}

.profile-actions-container {
    display: flex;
    flex-direction: column;
    margin-top: -25px;
    justify-content: flex-start;
}

.edit-account-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 480px;
    height: 420px;
    background-color: white;
    border-radius: 16px;
}

.required:after {
    content: " *";
    color: blue;
}

/* Review Posting Page */
.review-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    position: absolute;
    top:0; right: 0; left: 0; bottom: 0;
    width: 480px;
    height: 80%;
    background-color: white;
    border-radius: 16px;
    margin-top: 75px;
}

.review-inputs {
    width: 400px;
    margin-top: -20px;
}

.review-rating-input {
    display: flex;
    flex-direction: row;
}

.likert li {
    float: left;
    list-style-type: none;
}

input[type='radio'] {
    height: 15px;
    width: 15px;
}

input[type='file']{
    color:white;
  }